.headquarters {
  margin: 168px 0;
}

.headquarters__title {
  margin-left: 85px;
  font-family: 'Fraunces', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888f;
}

.headquarters__list {
  margin-top: 72px;
  margin-left: 85px;
  max-width: 1045px;
  justify-content: space-between;
  display: flex;

}

.item-continet__title {
  margin-top: 45px;
  font-family: 'Fraunces', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333D4B;
}


.item-continet p {
  margin-bottom: 7px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
}

.headquarters__tel {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
}

@include responsible(1215px) {
  .headquarters__title {
    margin-left: 0;
  }

  .headquarters__list {
    margin-left: 0;
  }
}

@include responsible(900px) {
  .item-continet__title {
    font-size: 24px;
    line-height: 36px;
  }
}

@include responsible(700px) {
  .headquarters {
    margin: 110px 0;
  }

  .headquarters__title {
    margin-left: 0;
    text-align: center;
  }

  .headquarters__list {
    margin-left: 0;
    flex-direction: column;
    text-align: center;
  }

  .item-continet+.item-continet {
    margin-top: 80px;
  }
}